<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWo - Admin Dashboard</title>
    <link href="/public/css/output.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/70218ce737.js" crossorigin="anonymous"></script>
</head>

<body class="bg-[#EAEFF8]">
    <%- include('adminNavbar') %>

        <!-- Main controlls -->
        <section class="px-4 py-2">
            <div class="flex flex-col md:flex-row items-center justify-center px-4 py-5">
                <div onclick="redirectTo('/admin/orders')"
                    class="transition delay-150 py-3 px-2 text-white bg-[#80FF00] mx-3 my-3 h-32 w-52 text-center flex justify-center items-center font-bold rounded shadow-md cursor-pointer text-xl ease-linear hover:-translate-y-2">
                    <span class="">Orders <i class="fa-solid fa-book text-xl text-orange-500"></i></span>
                </div>
                <div
                    class="transition delay-150 py-3 px-2 text-white bg-[#2279FB] mx-3 my-3 h-32 w-52 text-center flex justify-center items-center font-bold rounded shadow-md cursor-pointer text-xl ease-linear hover:-translate-y-2">
                    <span class="">Total Revenue <i class="fa-solid fa-dollar-sign text-xl text-orange-500"></i></span>
                </div>
                <div onclick="redirectTo('/admin/users')"
                    class="transition delay-150 py-3 px-2 text-white bg-[#FED000] mx-3 my-3 h-32 w-52 text-center flex justify-center items-center font-bold rounded shadow-md cursor-pointer text-xl ease-linear hover:-translate-y-2">
                    <span class="">New Users <i class="fa-solid fa-users text-xl text-orange-500"></i></span>
                </div>
            </div>
        </section>

        <!-- Top Selling & Purchase -->
        <section class="flex flex-col md:flex-row justify-evenly items-center px-5 py-2">
            <div class="bg-green-50 mx-2 my-3 py-3 px-4 shadow-md">
                <h1 class="font-semibold border-b-2 my-2 border-b-orange-500 py-2">Top Selling Food Items</h1>
                <% if(topCust) { topProd.forEach((item)=>{ %>
                    <div class="flex justify-between items-center border-b-2 py-2">
                        <div class="hidden md:block md:w-20 md:h-20 mx-2"><img
                                class="w-full h-full object-cover rounded" src="/<%= item.productMainImage %>"
                                alt="productImage"></div>
                        <div class="mx-2">
                            <h3 class="font-semibold md:text-lg text-start">
                                <%= item.productName %>
                            </h3>
                        </div>
                        <div class="mx-2 flex justify-center items-center"><i
                                class="fa-regular fa-star text-orange-500"></i> <span
                                class="mx-1 font-semibold">4.2</span></div>
                        <div class="mx-2 flex"><span class="text-orange-500">₹<%= item.productPrice%></span><span
                                class="hidden md:block">/<%= item.productType %></span></div>
                    </div>
                    <% }) } %>

            </div>
            <div class="bg-green-50 mx-2 my-3 py-3 px-4 shadow-md">
                <h1 class="font-semibold border-b-2 my-2 border-b-orange-500 py-2">Top Users</h1>
                <% if(topCust) { topCust.forEach((user)=>{ %>
                    <div class="flex justify-between items-center border-b-2 py-2">
                        <div class="hidden md:block w-10 h-10 md:w-20 md:h-20 mx-2"><img
                                class="w-full h-full object-cover rounded" src="/<%= user.image%>" alt="userProfile">
                        </div>
                        <div class="mx-2 text-start"><span class="font-bold text-start">
                                <%= user.fullname %>
                            </span></div>
                        <div class="mx-4"><span class="text-orange-500 font-semibold">
                                <%= user.purchaseCount %>
                            </span> <span>Times</span></div>
                    </div>
                    <% }) } %>
            </div>
        </section>

        <!-- Footer  -->
        <%- include('adminFooter') %>

            <script>
                function redirectTo(endpoint) {
                    window.location.href = endpoint;
                }
            </script>
</body>

</html>