<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWo - Categories</title>
    <link href="/public/css/output.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/70218ce737.js" crossorigin="anonymous"></script>
</head>

<body class="bg-[#EAEFF8]">
    <!-- Navigation -->
    <%- include('adminNavbar') %>

<section class="px-5 py-2">
    <div class="flex justify-between mx-3 items-center my-3">
        <h1 class="font-bold py-3 border-green-300 text-xl">Product Category</h1> <a
            class="bg-orange-500 hover:bg-orange-600 py-2 px-3 rounded text-white" href="/admin/addCategory">New Category</a>
    </div>

    <div class="overflow-x-auto overflow-y-auto md:flex md:justify-center md:items-center">
        <% if(data){ %>
            <table class="h-1/2 mx-3 py-3 overflow-y-auto">
                <thead class="text-center py-3 px-4 bg-[#F8F9FB] rounded-full shadow-md">
                    <th class="px-4 py-2 font-bold text-center mx-4 rounded-l-xl">No.</th>
                    <th class="px-4 py-2 font-bold text-center mx-4">Category Id</th>
                    <th class="px-4 py-2 font-bold text-center mx-4">Category Name</th>
                    <th class="px-4 py-2 font-bold text-center mx-4">Created At</th>
                    <th class="px-4 py-2 font-bold text-center mx-4 rounded-r-xl">Action</th>
                </thead>
                <tbody class="overflow-y-auto h-1/2">
                    <% data.forEach((cat,index)=>{ %>
                        <tr
                            class="transition delay-150 text-center shadow-md rounded-xl bg-gray-200 ease-linear hover:bg-white hover:scale-105">
                            <td class="px-5 rounded-l-xl">
                                <%= index + 1 %>
                            </td>
                            <td class="px-5 text-start">
                                <span class="">
                                    <%= cat._id %>
                                </span>
                            </td>
                            <td class=" px-5 text-start font-semibold"><span class=" w-32">
                                <%= cat.category %>
                                </span></td>
                            <td class=" px-5">
                                <%= cat.created_at %>
                            </td>
                            <td
                                class=" px-5 rounded-r-xl flex flex-col md:flex-row justify-between items-center">
                                <a href="/admin/update-category/<%= cat._id%>"
                                    class="bg-blue-500 m-2 py-2 px-3 rounded cursor-pointer text-white text-sm"><i
                                        class="fa-solid fa-pencil"></i></a>
                                <a href="/admin/>"
                                    class="bg-green-500  m-2 py-2 px-3 rounded cursor-pointer text-white text-sm">
                                  <i class="fa-solid fa-lock-open"></i>
                                        <!-- <i class="fa-solid fa-lock"></i> -->
                                        
                                </a>
                                <a href="/admin/category-delete/<%= cat._id%>"
                                    class="bg-red-500 m-2 py-2 px-3 rounded cursor-pointer text-white text-sm"><i
                                        class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <% } %>
    </div>
</section>

      <!-- Footer -->
      <%- include('adminFooter') %>

</body>
</html>