<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWo - Update Coupon</title>
    <link href="/public/css/output.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/70218ce737.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navigation -->
    <%- include('adminNavbar') %>
    <section class="px-5 py-3">
            <div id="alert"
                class="transition delay-150 bg-orange-500 py-3 px-4 text-center w-56 rounded text-white mx-auto ease-linear opacity-0 -translate-x-full">
                <span id="alertMsg"></span>
            </div>

            <div class="flex justify-center py-5">
                <form class="md:w-1/2" action="">
                    <% if(coupon){ %>
                        <div class="w-full flex flex-col my-2">
                            <label for="mainImage">Coupon Code</label>
                            <input type="text" id="couponCode" value="<%=coupon[0].couponCode%>"
                                onchange="couponCodeValidate(event)"
                                class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                        </div>
                        <div class="w-full flex flex-col my-2">
                            <label for="relatedImages">User Limit</label>
                            <input type="text" id="userLimit" value="<%=coupon[0].usersLimit%>"
                                onchange="userLimitRange(event)"
                                class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                        </div>
                        <div class="w-full flex flex-col my-2">
                            <label for="relatedImages">Usage Limit</label>
                            <input type="text" id="usageLimit" value="<%=coupon[0].usageLimit%>"
                                onchange="usageLimitRange(event)"
                                class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                        </div>
                        <div class="w-full flex flex-col my-2">
                            <label for="relatedImages">Start Date</label>
                            <input type="date" id="startTime" value="<%=coupon[0].startDate%>"
                                onchange="dateValidatorStart(event)"
                                class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                        </div>
                        <div class="w-full flex flex-col my-2">
                            <label for="relatedImages">End Date</label>
                            <input type="date" id="endTime" value="<%=coupon[0].endDate%>"
                                onchange="dateValidatorEnd(event)"
                                class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                        </div>
                        <div class="w-full flex flex-col my-2">
                            <label for="relatedImages">Food Item</label>
                    <select name="" id="foodItem" onchange="foodItemValidator(event)"
                                class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                                <% food.forEach((fd)=>{%>
                                    <%if(fd._id==coupon[0].foodId){%>
                                        <option selected value="<%=fd._id%>">
                                            <%=fd.productName%>
                                        </option>
                                        <%}%>
                                            <%})%>
                                                <% food.forEach((fd)=>{%>
                                                    <option value="<%=fd._id%>">
                                                        <%=fd.productName%>
                                                    </option>
                                                    <%})%>
                            </select>
                        </div>
                        <div class="w-full flex flex-col my-2">
                            <label for="relatedImages">Discount Type</label>
                            <select name="" id="discountType"
                                class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                                <option value="<%=coupon[0].discountType==='per'?'per':'amt'%>">
                                    <%=coupon[0].discountType==="per"?"Percentage":"Amount"%>
                                </option>
                                <option value="per">Percentage</option>
                                <option value="amt">Amount</option>
                            </select>
                        </div>
                        <div class="w-full flex flex-col my-2">
                            <label for="relatedImages">Discount Value</label>
                            <input type="text" id="discountValue" value="<%=coupon[0].discountValue%>"
                                onchange="discountValidator(event)"
                                class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                        </div>
                        <div class="w-full flex flex-col my-2">
                            <label for="relatedImages">Status</label>
                            <select name="" id="status"
                                class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                                <option value="<%=coupon[0].status%>">
                                    <%=coupon[0].status%>
                                </option>
                                <option value="active">active</option>
                                <option value="deactive">deactive</option>
                            </select>
                        </div>
                        <div class="text-center mt-5">
                            <button class="px-4 py-2 bg-orange-500 text-white rounded-full" id="<%=coupon[0]._id%>"
                                onclick="updateCoupon(event)">Update</button>
                        </div>
                        <%}%>
                </form>
            </div>
        </section>
        <!-- Footer  -->
        <%- include('adminFooter') %>


            <script>
                let food;
                const alertBox = document.getElementById('alert')
                const alertMsg = document.getElementById('alertMsg')
                (async()=>{
                    const foodId = document.getElementById('foodItem').value
                    const fetchingFood = await fetch(`/admin/food-price/${foodId}`);
                    if (fetchingFood.ok) {
                        const data = await fetchingFood.json();
                        if (fetchingFood.status == 200) {
                            food = data.foodData;
                        }
                    }
                })()

                function userLimitRange(event) {
                    if (parseInt(event.target.value) <= 0) {
                        alert(`Enter a valid user limit`)
                        return;
                    }
                    if (parseInt(event.target.value) > 10) {
                        alert(`Are you sure you want to give coupons for ${event.target.value}`)
                    }
                }

                function usageLimitRange(event) {
                    if (parseInt(event.target.value) <= 0) {
                        alert(`Enter a valid usage limit`)
                        return;
                    }
                    if (parseInt(event.target.value) > 3) {
                        alert(`Are you sure about user Usage limit : ${event.target.value}`)
                    }
                }

                function dateValidatorStart(event) {
                    // Get the selected date from the input element
                    const selectedDate = new Date(event.target.value);

                    // Get the current date
                    const currentDate = new Date();
                    currentDate.setHours(0, 0, 0, 0);

                    // Check if the selected date is valid and not in the past
                    if (selectedDate < currentDate) {
                        // If the selected date is in the past, clear the input field
                        event.target.value = '';
                        alert("Please enter a date from today onwards.");
                    }
                }

                function dateValidatorEnd(event) {
                    const startTime = new Date(document.getElementById('startTime').value)
                    // Get the selected date from the input element
                    const selectedDate = new Date(event.target.value);
                    if (selectedDate <= startTime) {
                        alert(`Coupon End Date must be greater than Starting Date`)
                    }
                    // Get the current date
                    const currentDate = new Date();
                    currentDate.setHours(0, 0, 0, 0);

                    // Check if the selected date is valid and not in the past
                    if (selectedDate <= currentDate) {
                        console.log(selectedDate, currentDate)
                        // If the selected date is in the past, clear the input field
                        event.target.value = '';
                        alert("Please enter a date from tomorrow onwards.");
                    }
                }

                function couponCodeValidate(event) {
                    const code = event.target.value;
                    if (code !== code.toUpperCase()) {
                        alert(`Coupon Code must be in Capital Letters`)
                    }
                }

                function discountValidator(event) {
                    const discountType = document.getElementById('discountType').value;
                    if (parseInt(event.target.value) <= 0) {
                        alert(`Zero or lesser is not acceptable!!`)
                        return;
                    }
                    if (discountType === "per" && parseInt(event.target.value) > 85) {
                        alert(`Percentange is too High`);
                    }

                }

                async function foodItemValidator(event) {
                    if (event.target.value === "none") {
                        alert(`Food Item can't be None`)
                    }
                    const fetchingFood = await fetch(`/admin/food-price/${event.target.value}`);
                    if (fetchingFood.ok) {
                        const data = await fetchingFood.json();
                        if (fetchingFood.status == 200) {
                            food = data.foodData;
                        }
                    }
                }

                async function updateCoupon(event) {
                    event.preventDefault();
                    const userLimit = document.getElementById('userLimit')
                    const usageLimit = document.getElementById('usageLimit')
                    const startTime = document.getElementById('startTime')
                    const endTime = document.getElementById('endTime')
                    const couponCode = document.getElementById('couponCode')
                    const foodItem = document.getElementById('foodItem')
                    const discountType = document.getElementById('discountType')
                    const discountValue = document.getElementById('discountValue')
                    const status = document.getElementById('status')
                    const couponData = {
                        userLimit: parseInt(userLimit.value),
                        usageLimit: parseInt(usageLimit.value),
                        startTime: startTime.value,
                        endTime: endTime.value,
                        couponCode: couponCode.value,
                        foodItem: foodItem.value,
                        discountType: discountType.value,
                        discountValue: parseInt(discountValue.value),
                        status: status.value
                    }
                    console.log(couponData)

                    if (!userLimit.value ||
                        !usageLimit.value ||
                        !startTime.value ||
                        !endTime.value ||
                        !couponCode.value ||
                        !discountType.value ||
                        !discountValue.value) {
                        window.scrollTo(0, 0)
                        alertBox.classList.remove('opacity-0')
                        alertBox.classList.remove('-translate-x-full')
                        alertMsg.innerText = `All fields are required`;
                        setTimeout(() => {
                            alertBox.classList.add('opacity-0')
                            alertBox.classList.add('-translate-x-full')
                        }, 3000)
                        return;
                    }
                    const starting = new Date(startTime.value)
                    const ending = new Date(endTime.value)
                    const currentDate = new Date();
                    currentDate.setHours(0, 0, 0, 0);
                    console.log('dates : ', starting, ending)

                    if (parseInt(userLimit.value) <= 0) {
                        window.scrollTo(0, 0)
                        alertBox.classList.remove('opacity-0')
                        alertBox.classList.remove('-translate-x-full')
                        alertMsg.innerText = `userLimit can't be zero or lesser`;
                        setTimeout(() => {
                            alertBox.classList.add('opacity-0')
                            alertBox.classList.add('-translate-x-full')
                        }, 3000)
                        return;
                    } else if (parseInt(usageLimit.value) <= 0) {
                        window.scrollTo(0, 0)
                        alertBox.classList.remove('opacity-0')
                        alertBox.classList.remove('-translate-x-full')
                        alertMsg.innerText = `user usage limit can't be zero or lesser`;
                        setTimeout(() => {
                            alertBox.classList.add('opacity-0')
                            alertBox.classList.add('-translate-x-full')
                        }, 3000)
                        return;
                    } else if (ending <= starting) {
                        window.scrollTo(0, 0)
                        alertBox.classList.remove('opacity-0')
                        alertBox.classList.remove('-translate-x-full')
                        alertMsg.innerText = `Ending Date must be greater than Starting`;
                        setTimeout(() => {
                            alertBox.classList.add('opacity-0')
                            alertBox.classList.add('-translate-x-full')
                        }, 3000)
                        return;
                    } else if (couponCode.value.toUpperCase() !== couponCode.value) {
                        window.scrollTo(0, 0)
                        alertBox.classList.remove('opacity-0')
                        alertBox.classList.remove('-translate-x-full')
                        alertMsg.innerText = `Coupon Code must be in Capital Letters`;
                        setTimeout(() => {
                            alertBox.classList.add('opacity-0')
                            alertBox.classList.add('-translate-x-full')
                        }, 3000)
                        return;
                    } else if (foodItem.value === "none") {
                        window.scrollTo(0, 0)
                        alertBox.classList.remove('opacity-0')
                        alertBox.classList.remove('-translate-x-full')
                        alertMsg.innerText = `Select any food Item for the Coupon`;
                        setTimeout(() => {
                            alertBox.classList.add('opacity-0')
                            alertBox.classList.add('-translate-x-full')
                        }, 3000)
                        return;
                    } else if (discountType.value === "per" && parseInt(discountValue.value) <= 0) {
                        window.scrollTo(0, 0)
                        alertBox.classList.remove('opacity-0')
                        alertBox.classList.remove('-translate-x-full')
                        alertMsg.innerText = `Discount Value can't be zero or lesser`;
                        setTimeout(() => {
                            alertBox.classList.add('opacity-0')
                            alertBox.classList.add('-translate-x-full')
                        }, 3000)
                        return;
                    } else if (discountType.value === "amt" && parseInt(discountValue.value) <= 0) {
                        window.scrollTo(0, 0)
                        alertBox.classList.remove('opacity-0')
                        alertBox.classList.remove('-translate-x-full')
                        alertMsg.innerText = `Discount Value can't be zero or lesser`;
                        setTimeout(() => {
                            alertBox.classList.add('opacity-0')
                            alertBox.classList.add('-translate-x-full')
                        }, 3000)
                        return;
                    } else if (discountType.value === "amt" && parseInt(discountValue.value) > parseInt(food.productPrice)) {
                        window.scrollTo(0, 0)
                        alertBox.classList.remove('opacity-0')
                        alertBox.classList.remove('-translate-x-full')
                        alertMsg.innerText = `Discount Amount can't be greater than food price : ₹${food.productPrice}`;
                        setTimeout(() => {
                            alertBox.classList.add('opacity-0')
                            alertBox.classList.add('-translate-x-full')
                        }, 3000)
                        return;
                    } else {
                        const couponData = {
                            userLimit: parseInt(userLimit.value),
                            usageLimit: parseInt(usageLimit.value),
                            startTime: starting,
                            endTime: ending,
                            couponCode: couponCode.value,
                            foodItem: foodItem.value,
                            discountType: discountType.value,
                            discountValue: parseInt(discountValue.value),
                            status: status.value
                        }
                        console.log(couponData)
                        const reqData = await JSON.stringify(couponData);
                        const res = await fetch('/admin/coupon-update/<%=coupon[0]._id%>', {
                            method: 'PATCH',
                            headers: {
                                'Content-Type': "application/json"
                            },
                            body: reqData
                        });
                        console.log(res)
                        if (res.ok) {
                            const data = await res.json();
                            if (data.updated) {
                                window.scrollTo(0, 0)
                                alertBox.classList.remove('opacity-0')
                                alertBox.classList.remove('-translate-x-full')
                                alertMsg.innerText = `Coupon updated successfully`;
                                setTimeout(() => {
                                    alertBox.classList.add('opacity-0')
                                    alertBox.classList.add('-translate-x-full')
                                    window.location.reload();
                                }, 3000)
                            } else {
                                window.scrollTo(0, 0)
                                alertBox.classList.remove('opacity-0')
                                alertBox.classList.remove('-translate-x-full')
                                alertMsg.innerText = `Coupon updation failed`;
                                setTimeout(() => {
                                    alertBox.classList.add('opacity-0')
                                    alertBox.classList.add('-translate-x-full')
                                }, 3000)
                            }
                        } else {
                            window.scrollTo(0, 0)
                            alertBox.classList.remove('opacity-0')
                            alertBox.classList.remove('-translate-x-full')
                            alertMsg.innerText = `Something went wrong.Please try again.`;
                            setTimeout(() => {
                                alertBox.classList.add('opacity-0')
                                alertBox.classList.add('-translate-x-full')
                            }, 3000)
                        }
                    }
                }
            </script>

</body>

</html>