<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWo - Update Coupon</title>
    <link href="/public/css/output.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/70218ce737.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navigation -->
    <%- include('adminNavbar') %>
        <div id="alert" class="transition delay-150 ease-linear hidden py-4 px-3 bg-red-400 text-white text-center"><i
                class="fa-solid fa-triangle-exclamation text-xl"></i> We are facing some issues.Please try later.</div>
        <section class="px-5 py-3">

            <div class="flex justify-center py-5">
                <form class="md:w-1/2" action="">
                    <% if(coupon){ %>
                    <div class="w-full flex flex-col my-2">
                        <label for="mainImage">Coupon Code</label>
                        <input type="text" id="couponCode" value="<%=coupon[0].couponCode%>"
                            class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                    </div>
                    <div class="w-full flex flex-col my-2">
                        <label for="relatedImages">User Limit</label>
                        <input type="text" id="userLimit" value="<%=coupon[0].usersLimit%>"
                            class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                    </div>
                    <div class="w-full flex flex-col my-2">
                        <label for="relatedImages">Usage Limit</label>
                        <input type="text" id="usageLimit" value="<%=coupon[0].usageLimit%>"
                            class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                    </div>
                    <div class="w-full flex flex-col my-2">
                        <label for="relatedImages">Start Date</label>
                        <input type="date" id="startTime" value="<%=coupon[0].startDate%>"
                            class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                    </div>
                    <div class="w-full flex flex-col my-2">
                        <label for="relatedImages">End Date</label>
                        <input type="date" id="endTime" value="<%=coupon[0].endDate%>"
                            class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                    </div>
                    <div class="w-full flex flex-col my-2">
                        <label for="relatedImages">Discount Type</label>
                        <select name="" id="discountType" class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                            <option value="<%=coupon[0].discountType==='per'?'per':'amt'%>"><%=coupon[0].discountType==="per"?"Percentage":"Amount"%></option>
                            <option value="per">Percentage</option>
                            <option value="amt">Amount</option>
                        </select>
                    </div>
                    <div class="w-full flex flex-col my-2">
                        <label for="relatedImages">Discount Value</label>
                        <input type="text" id="discountValue" value="<%=coupon[0].discountValue%>"
                            class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                    </div>
                    <div class="w-full flex flex-col my-2">
                        <label for="relatedImages">Status</label>
                        <select name="" id="status" class="px-2 placeholder:px-2 py-2 rounded outline-orange-500 border border-orange-500">
                            <option value="active">Active</option>
                            <option value="deactive">deactive</option>
                        </select>
                    </div>
                    <div class="text-center mt-5">
                        <button class="px-4 py-2 bg-orange-500 text-white rounded-full">Update</button>
                    </div>
                    <%}%>
                </form>
            </div>
        </section>
        <!-- Footer  -->
        <%- include('adminFooter') %>


            <script>
                let baseImage = "";
                // Image Details
                const image = document.getElementById('doc');
                const imagetag = document.getElementById('imagetag');
                const alert = document.getElementById('alert');

                image.addEventListener('change', async (event) => {
                    const file = event.target.files[0];
                    if (file) {
                        baseImage = await ImagetoBase64(file);
                        imagetag.setAttribute("src", baseImage);
                    }
                });

                async function ImagetoBase64(file) {
                    const reader = new FileReader();
                    reader.readAsDataURL(file);

                    return new Promise((resolve, reject) => {
                        reader.onload = () => resolve(reader.result);
                        reader.onerror = err => reject(err);
                    });
                }

                async function updateUser(event) {
                    const fullname = document.getElementById('fullname').value;
                    const email = document.getElementById('email').value;
                    const phone = document.getElementById('phone').value;
                    const address = document.getElementById('address').value;
                    const imagetag = document.getElementById('imagetag').src;

                    const formData = {
                        fullname: fullname,
                        email: email,
                        phone: phone,
                        address: address,
                        image: imagetag
                    }
                    const updateDetails = await JSON.stringify(formData);

                    const response = await fetch('/admin/update-user', {
                        method: 'PATCH',
                        headers: {
                            "Content-Type": "application/json",
                            // 'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: updateDetails
                    })
                    console.log('response')
                    if (!response.ok) {
                        alert.classList.remove('hidden')
                        alert.innerHTML = `<span>Something went wrong..</span>`
                    } else {
                        alert.classList.remove('bg-red-400')
                        alert.classList.add('bg-green-400')
                        alert.innerHTML = `<span>User Details updated</span>`
                    }
                }
            </script>

</body>

</html>