<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWo - Orders</title>
    <link href="/public/css/output.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/70218ce737.js" crossorigin="anonymous"></script>
</head>

<body class="bg-[#EAEFF8]">
    <!-- Navigation -->
    <%- include('adminNavbar') %>

    <section class="px-5 py-2 flex justify-center items-center overflow-x-hidden">
        <div class="flex flex-col mx-auto w-full">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <table class="min-w-full text-left text-sm font-light">
                    <thead class="border-b font-medium dark:border-neutral-500">
                      <tr>
                        <th scope="col" class="px-6 py-4">ORDER ID #</th>
                        <th scope="col" class="px-6 py-4">Created At</th>
                        <th scope="col" class="px-6 py-4">Customer</th>
                        <th scope="col" class="px-6 py-4">Order Items</th>
                        <th scope="col" class="px-6 py-4">Status</th>
                        <th scope="col" class="px-6 py-4">Payment Method</th>
                        <th scope="col" class="px-6 py-4">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(orders){ orders.forEach((order,index)=>{%>
                      <tr
                        class="border-b transition duration-300 ease-in-out hover:bg-slate-100 dark:border-neutral-500 dark:hover:bg-slate-300">
                        <td class="whitespace-nowrap px-6 py-4 font-medium"><%=order.orderId%></td>
                        <td class="whitespace-nowrap px-6 py-4"><%=order.created_at%></td>
                        <td class="whitespace-nowrap px-6 py-4"><%=order.customerName%></td>
                        <td class="whitespace-nowrap px-6 py-4"><%=order.productName%></td>
                        <td class="whitespace-nowrap px-6 py-4">
                          <select name="" id="<%=`orderStatus${index}`%>" data-index="<%=`${index}`%>" data-oid="<%=order.orderId%>" onchange="handleStatus(event)">
                            <option selected value="<%=order.orderStatus%>"><span class="bg-red-400 cursor-pointer py-1 rounded text-white px-2"><%=order.orderStatus%></span></option>
                            <option value="Pending"><span class="bg-red-400 cursor-pointer py-1 rounded text-white px-2">Pending</span></option>
                            <option value="Confirmed"><span class="bg-red-400 cursor-pointer py-1 rounded text-white px-2">Confirmed</span></option>
                            <option value="On the Way"><span class="bg-red-400 cursor-pointer py-1 rounded text-white px-2">On the Way</span></option>
                            <option value="Delivered"><span class="bg-red-400 cursor-pointer py-1 rounded text-white px-2">Delivered</span></option>
                            <option value="Cancelled"><span class="bg-red-400 cursor-pointer py-1 rounded text-white px-2">Cancelled</span></option>
                          </select>

                        </td>
                        <td class="whitespace-nowrap px-6 py-4"><%=order.paymentMethod%></td>
                        <td class="whitespace-nowrap px-6 py-4"><%=order.productPrice%>.00</td>
                      </tr>
                      <% })}%>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    </section>
        <!-- Footer -->
        <%- include('adminFooter') %>

        <script>
          async function handleStatus(event){
            event.preventDefault();
            const orderId = event.target.dataset.oid;
            const index = event.target.dataset.index;
            const orderStatus = document.getElementById(`orderStatus${index}`);
            console.log(orderId,orderStatus.value)
            if(orderStatus){
              const data={
                status:orderStatus.value
              }
              const reqData = await JSON.stringify(data)
              const response = await fetch(`/admin/update-order-status/${orderId}`,{
                method:'PATCH',
                headers:{
                  'Content-Type':"application/json"
                },
                body:reqData
              })
            }
          }
        </script>
</body>

</html>