<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWo - Products</title>
    <link href="/public/css/output.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/70218ce737.js" crossorigin="anonymous"></script>
</head>

<body class="bg-[#EAEFF8]">
    <!-- Navigation -->
    <%- include('adminNavbar') %>

        <section class="px-5 py-2 min-h-screen mb-5">
            <div id="alert"
                class="transition delay-150 bg-orange-500 py-3 px-4 text-center w-56 rounded text-white mx-auto ease-linear opacity-0 -translate-x-full">
                <span id="alertMsg"></span>
            </div>

            <div class="flex justify-between mx-3 items-center my-3">
                <h1 class="font-bold py-3 border-green-300 text-xl">Product List</h1> <a
                    class="bg-orange-500 py-2 px-3 rounded text-white" href="/admin/addProducts">New Product</a>
            </div>
            <% if(data){%>
                <div class="overflow-x-auto md:overflow-x-hidden md:flex md:justify-center md:items-center">
                    <table class="mx-3 py-3">
                        <thead class=" text-center py-3 px-4 bg-[#F8F9FB] rounded-full shadow-md">
                            <th class="px-4 py-2 font-bold text-center mx-4 rounded-l-xl">No.</th>
                            <th class="px-4 py-2 font-bold text-center mx-4">Product Name</th>
                            <th class="px-4 py-2 font-bold text-center mx-4">Description</th>
                            <th class="px-4 py-2 font-bold text-center mx-4">Price</th>
                            <th class="px-4 py-2 font-bold text-center mx-4">Category</th>
                            <th class="px-4 py-2 font-bold text-center mx-4">Sold</th>
                            <th class="px-4 py-2 font-bold text-center mx-4">In Stock</th>
                            <th class="px-4 py-2 font-bold text-center mx-4 rounded-r-xl">Action</th>
                        </thead>
                        <tbody class="bg-blue-400 py-3 px-5">
                            <% data.forEach((item,index)=>{ %>

                                <tr
                                    class="transition h-full w-full delay-150 text-center shadow-md rounded-xl bg-gray-200 ease-linear hover:bg-white hover:scale-105">
                                    <td class="px-5 rounded-l-xl">
                                        <%= index + 1 %>
                                    </td>
                                    <td class="px-5 text-start">
                                        <span class="font-semibold">
                                            <%= item.productName %>
                                        </span>
                                    </td>
                                    <td class=" px-5 text-start"><span class="text-sm font-thin w-32">
                                            <%= item.description %>
                                        </span></td>
                                    <td class=" px-5">
                                        <%= item.productPrice %> / <% if(item.productType==="kg" ){%>Kg<% }else{%>
                                                    Plate <% } %>
                                    </td>
                                    <td class=" px-5 text-start">
                                        <%= item.category %>
                                    </td>
                                    <td class=" px-5">
                                        <%= item.productSold %>
                                    </td>
                                    <td class=" px-5">
                                        <%= item.productInStock %>
                                    </td>
                                    <td
                                        class=" px-5 rounded-r-xl flex flex-col md:flex-row justify-between items-center">
                                        <a href="/admin/productUpdateDetails/<%= item._id %>"
                                            class="bg-blue-500 m-2 py-2 px-3 rounded cursor-pointer text-white text-sm"><i
                                                class="fa-solid fa-pencil"></i></a>
                                        <a href="/admin/user-block/"
                                            class="bg-gray-500 m-2 py-2 px-3 rounded cursor-pointer text-white text-sm">
                                            <i class="fa-solid fa-lock-open"></i>
                                            <!-- <i class="fa-solid fa-lock"></i> --> 

                                        </a>
                                        <a href=""
                                            class="bg-red-500 m-2 py-2 px-3 rounded cursor-pointer text-white text-sm"><i data-foodid="<%=item._id%>" onclick="deleteProduct(event)"
                                                class="fa-solid fa-trash-can"></i></a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
                <% } %>
        </section>

        <!-- Footer -->
        <%- include('adminFooter') %>
            <script>
                const alertBox = document.getElementById('alert')
                const alertMsg = document.getElementById('alertMsg')
                async function deleteProduct(event) {
                    event.preventDefault();
                    console.log(event)
                    const foodId = event.target.dataset.foodid;
                    console.log(foodId)
                    const confirmDeletion = confirm("Are you sure? want to delete this product.");
                    if (confirmDeletion) {
                        const deleting = await fetch(`/admin/product-delete/${foodId}`);
                        if (deleting.ok) {
                            const data = await deleting.json();
                            if (data.deleted) {
                                window.scrollTo(0, 0)
                                alertBox.classList.remove('opacity-0')
                                alertBox.classList.remove('-translate-x-full')
                                alertMsg.innerText = `Product Deleted`;
                                setTimeout(() => {
                                    alertBox.classList.add('opacity-0')
                                    alertBox.classList.add('-translate-x-full')
                                    window.location.reload();
                                }, 3000)
                                return;
                            }
                        }
                    }
                }
            </script>
</body>

</html>