<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWo - Wishlist</title>
    <link href="/public/css/output.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/70218ce737.js" crossorigin="anonymous"></script>
    <style>
        /* Hide the default scrollbar */
        .overflow-x-scroll::-webkit-scrollbar {
            display: none;
        }

        /* Define the scrollbar track (optional) */
        .overflow-x-scroll::-webkit-scrollbar-track {
            background: transparent;
            /* You can customize the track's appearance */
        }

        /* Define the scrollbar thumb (optional) */
        .overflow-x-scroll::-webkit-scrollbar-thumb {
            background: transparent;
            /* You can customize the thumb's appearance */
        }

        .text-ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body>
    <%-include('../views/userNavbar.ejs') %>

        <section class="px-5 py-2 min-h-screen">
            <div id="alert"
                class="transition delay-150 bg-orange-500 py-3 px-4 text-center w-56 rounded text-white mx-auto ease-linear opacity-0 -translate-x-full">
                <span id="alertMsg"></span>
            </div>
            <h1 class="px-3 md:px-6 font-bold text-xl md:text-2xl my-5 ">My Wishlist</h1>
            <div class="bg-[#F3F4F6] p-5 flex flex-wrap gap-5 justify-center" id="searchedItemsCon">
                <% if(wishes){wishes.forEach((wish)=>{%>
                    <div class="bg-[#FFFFFF] rounded-xl px-4 py-6 w-72 md:w-fit shadow-md">
                        <div class="flex items-center">
                            <div class="w-56">
                                <h2 class="font-semibold text-lg my-1">
                                    <%=wish.productName%>
                                </h2>
                                <span><span class="text-orange-500">₹</span>
                                    <%=wish.productPrice%>
                                </span>
                                <p class="text-sm text-gray-500">
                                    <%=wish.description%>
                                </p>
                            </div>

                            <div class="flex justify-center ml-4 md:mx-2">
                                <div class="w-28 h-28"><img class="w-full h-full object-cover rounded"
                                        src="/<%=wish.productImages[0]%>" alt=""></div>
                            </div>
                        </div>

                        <div class="my-3">
                            <button onclick="removeFromWishlist(event)" data-foodid="<%=wish._id%>"
                                class="px-5 mx-1 py-2 border border-orange-500 rounded text-orange-500">remove </button>
                            <button class="px-5 mx-1 py-2 bg-orange-500 rounded text-white">Cart<i
                                    class="fa-solid text-xl fa-cart-shopping" data-foodid="<%=wish._id%>" onclick="addToCart(event)"></i></button>
                        </div>

                    </div>
                    <%})}%>
            </div>
        </section>

        <%-include('../views/userFooter.ejs') %>

            <script>
                const alertBox = document.getElementById('alert')
                const alertMsg = document.getElementById('alertMsg')
                async function removeFromWishlist(event) {
                    const foodid = event.target.dataset.foodid;
                    const userId = sessionStorage.getItem('user_id');
                    const removeDetails ={
                        foodid,
                        userId
                    }
                    const reqData = await JSON.stringify(removeDetails);
                    const removing = await fetch(`/user/remove-wishlist`,{
                        method:'Delete',
                        headers:{
                            'Content-Type':"application/json"
                        },
                        body:reqData
                    })

                    if (removing.ok) {
                        const data= await removing.json()
                       if(data.deleted){
                        window.scrollTo(0, 0)
                        alertBox.classList.remove('opacity-0')
                        alertBox.classList.remove('-translate-x-full')
                        alertMsg.innerText = `Removed from wishlist`;
                        setTimeout(() => {
                            alertBox.classList.add('opacity-0')
                            alertBox.classList.add('-translate-x-full')
                            window.location.reload();
                        }, 3000)
                       }else{
                        window.scrollTo(0, 0)
                        alertBox.classList.remove('opacity-0')
                        alertBox.classList.remove('-translate-x-full')
                        alertMsg.innerText = `Something went wrong.Please try again`;
                        setTimeout(() => {
                            alertBox.classList.add('opacity-0')
                            alertBox.classList.add('-translate-x-full')
                        }, 3000)
                       }
                    }
                }

                async function addToCart(event) {
                    event.stopPropagation();
                    event.preventDefault();
                    const userid = sessionStorage.getItem('user_id') //event.target.getAttribute('data-userid')
                    const foodid = event.target.getAttribute('data-foodid')
                    console.log(event)

                    const reqData = {
                        userid: userid,
                        foodid: foodid,
                    }
                    const realData = JSON.stringify(reqData);
                    if (!userid) {
                        window.location.href = '/user/login';
                    } else {
                        const response = await fetch('/user/addToCart/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': "application/json",
                            },
                            body: realData
                        })

                        if (response.ok) {
                            const data = await response.json();
                            if (data.added) {
                                window.scrollTo(0, 0)
                                alertBox.classList.remove('opacity-0')
                                alertBox.classList.remove('-translate-x-full')
                                alertMsg.innerText = `${data.added}`;
                                setTimeout(() => {
                                    alertBox.classList.add('opacity-0')
                                    alertBox.classList.add('-translate-x-full')
                                }, 3000)
                            } else if (data.exist) {
                                window.scrollTo(0, 0)
                                alertBox.classList.remove('opacity-0')
                                alertBox.classList.remove('-translate-x-full')
                                alertMsg.innerText = `${data.exist}`;
                                setTimeout(() => {
                                    alertBox.classList.add('opacity-0')
                                    alertBox.classList.add('-translate-x-full')
                                }, 3000)
                            }
                            else {
                                alert('something went wrong.')
                            }
                        }
                    }
                }
            </script>
</body>

</html>